@import (reference) '../color.less';

// input
.ant-input {
  &-number {
    min-width: 110px;

    &:hover:not(&-disabled) {
      background: white;
    }

    &-focused:not(&-disabled) {
      background: white;
    }
  }

  &:hover:not(&-disabled) {
    background: white;
  }

  &:focus:not(&-disabled) {
    background: white;
  }
}

.ant-input-affix-wrapper .ant-input-suffix {
  right: 9px;
}

.ant-input-clear-icon {
  margin-right: 5px;
}

.ant-input-affix-wrapper-textarea-with-clear-btn {
  padding: 0 !important;

  textarea.ant-input {
    padding: 4px;
  }
}

.ant-input-affix-wrapper {
  &:hover:not(&-disabled) {
    background: white;

    .ant-input {
      background: white;
    }
  }

  &-focused:not(&-disabled) {
    background: white !important;
  }
}

.ant-input-group-wrapper {
  .ant-input-group {
    .ant-input-affix-wrapper {
      border-radius: 0 !important;
      z-index: 1;
    }
  }
}
